{:duct.profile/base
 {:duct.core/project-ns mortgage-calc

  :duct.router/ataraxy
  {:routes
   {[:get "/"]                                    [:mortgage-calc.handler/app]
    [:get "/calculations"]                        [:mortgage-calc.handler.calculations/list]
    [:get "/calculations/" id]                    [:mortgage-calc.handler.calculations/find ^int id]
    [:post "/calculations" {fields :body-params}] [:mortgage-calc.handler.calculations/create fields]}}


  ;; Migrations --------------------------------------------------------

  :duct.migrator/ragtime
  {:migrations [#ig/ref :mortgage-calc.migration/create-calculations
                #ig/ref :mortgage-calc.migration/create-entries
                #ig/ref :mortgage-calc.migration/create-users]}

  [:duct.migrator.ragtime/sql :mortgage-calc.migration/create-calculations]
  {:up   ["CREATE TABLE calculations
         (id SERIAL PRIMARY KEY, name TEXT,
         price DOUBLE PRECISION, deposit DOUBLE PRECISION, years INTEGER,
         interest DOUBLE PRECISION, repayment DOUBLE PRECISION)"]
   :down ["DROP TABLE calculations"]}

  [:duct.migrator.ragtime/sql :mortgage-calc.migration/create-entries]
  {:up   ["CREATE TABLE entries (id INTEGER PRIMARY KEY, description TEXT)"]
   :down ["DROP TABLE entries"]}

  [:duct.migrator.ragtime/sql :mortgage-calc.migration/create-users]
  {:up   ["CREATE TABLE users (id SERIAL PRIMARY KEY, email TEXT UNIQUE, password TEXT)"]
   :down ["DROP TABLE users"]}

  ;; Handlers ----------------------------------------------------------

  ;; real handlers
  :mortgage-calc.handler/app {}

  [:duct.handler.sql/query :mortgage-calc.handler.calculations/list]
  {:sql ["SELECT * FROM calculations"]}

  [:duct.handler.sql/query-one :mortgage-calc.handler.calculations/find]
  {:request {[_ id] :ataraxy/result}
   :sql     ["SELECT * FROM calculations WHERE id = ?;" id]
   :hrefs   {:href "/calculations/{id}"}}

  :mortgage-calc.handler.calculations/create
  {:db     #ig/ref :duct.database/sql
   :logger #ig/ref :duct/logger}

  ;; test handlers
  [:duct.handler.sql/query :mortgage-calc.handler.entries/list]
  {:sql   ["SELECT * FROM entries;"]
   :hrefs {:href "/entries/{id}"}}

  [:duct.handler.sql/insert :mortgage-calc.handler.entries/create]
  {:request {[_ description] :ataraxy/result}
   :sql     ["INSERT INTO entries (description) VALUES (?)" description]}

  [:duct.handler.sql/query-one :mortgage-calc.handler.entries/find]
  {:request {[_ id] :ataraxy/result}
   :sql     ["SELECT * FROM entries WHERE id = ?;" id]
   :hrefs   {:href "/entries/{id}"}}

  [:duct.handler.sql/execute :mortgage-calc.handler.entries/destroy]
  {:request {[_ id] :ataraxy/result}
   :sql     ["DELETE FROM entries WHERE id = ?;" id]}

  :mortgage-calc.handler.users/create
  {:db #ig/ref :duct.database/sql}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging  {}
 :duct.module.web/api  {}
 :duct.module.web/site {}
 :duct.module/sql      {}
 :duct.module/cljs     {:main mortgage-calc.client}
 }
